<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="wang.auspicous.ausp1ciouslib"
    >
    <!--允许上网权限-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--获取改变网络状态权限-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!--震动权限-->
    <uses-permission android:name="android.permission.VIBRATE"/>
    <application
        android:resizeableActivity="true"
        tools:targetApi="n">
        <!--沉浸式状态栏添加/////////////////////////////////////////////////////////////////Start-->
        <!--适配华为（huawei）刘海屏-->
        <meta-data
            android:name="android.notch_support"
            android:value="true"/>
        <!--适配小米（xiaomi）刘海屏-->
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" />
        <!--沉浸式状态栏添加/////////////////////////////////////////////////////////////////Start-->

        <!--FileProvider添加/////////////////////////////////////////////////////////////////Start-->
        <provider
            android:name=".base.provider.FileProvider"
            android:authorities="wang.auspicous.ausp1ciouslib.base.provider.FileProvider.Library"
            android:exported="false"
            android:grantUriPermissions="true">
            <!--元数据-->
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/lib_base_file_paths" />
        </provider>
        <!--FileProvider添加/////////////////////////////////////////////////////////////////Start-->
    </application>
</manifest>
